.testimonial-container {
  margin: 0rem 0;
  background-image: url('../../images/red.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

.testimonial-card {
  background-color: #eb484875;
  max-width: 95%;
  height: 100%;
}

.testimonial-card .testimonial-profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: solid 5px #A6A57A;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin: auto;
}

.testimonial-profile {
  text-align: center;
  margin: 1rem 0rem 0rem 0rem;
  height: 100%;
}

.testimonial-info {
  margin-top: 1rem;

}

.testimonial-info p {
  margin: 0;
  color: lightgray;
}

.testimonial-info h4 {
  color: white;
  margin: 0;
}

.testimonial-description {
  font-size: 1em;
  padding: 30px 10px 10px 30px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  clip-path: polygon(0% 0%, 100% 19%, 100% 100%, 0% 100%);
  height: 120px;
}

.testimonial-description blockquote {
  margin: 0;
}

.testimonial-description blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 40px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .testimonial-container {
    padding: 2rem 0;
  }

  .testimonial-profile {
    text-align: center;
   margin-top: 1rem;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
  }

  .testimonial-card .testimonial-profile img {
    width: 40%;
  }
}