.product-bg {
  border: 2px solid yellow;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.product-bg:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.product-title {
  font-weight: 600;
  font-size: 18px;
  margin: 5px 0;
  color: #333;
}

.product-category {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.product-img img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.product-bg button {
  transition: 0.3s;
}

.product-bg button:hover {
  background: #000;
  color: #fff;
}

.product-detail-heading {
  text-align: center;
  margin-bottom: 1rem;
}
.product-detail-heading h4 {
  font-size: 30px;
}

.product-price {
  color: var(--background) !important;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .product-img img {
    height: 150px;
    object-fit: contain;
  }
}
